/* Home page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body{
    font-family: "poppins", Times, serif;
    background-color: #F4F4F4 ;
    color:#555;    
}

a{
    text-decoration: none;
    color: #fff;
}

.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1B1F38; 
    padding: .5rem 0; 
    z-index: 1000; /* Ensure it's on top */
}

.header-title{
    flex-grow: 1; /* Allows it to take the center space */
    text-align: center;
    font-size: 26px;
    color: #fff; /* White text */
}

.header-title::first-letter{
    font-size: 2rem;
    color: #B8860B;
}

.header-logo {
    display: flex;
    align-items: center; /* Align logo and text vertically */
}

.header-logo img {
    height: 70px; /* Adjust logo size */
    width: auto;
    padding-left: 6px;
}

.icon-account {

    height: 30px;
    width: 2rem;
    font-weight: bold;
}

.icon-account:hover{
    color: #FFD600; /* Bright yellow */
    transform: scale(1.1); /* Slight zoom-in */
    box-shadow: 0 0 15px rgba(255, 214, 0, 0.6); /* Soft glow effect */
    transition: all 0.3s ease-in-out;
    border-radius: 25px;
}

.header-links{
    display: flex;
    justify-content: space-evenly;
    height: auto;
    margin: 0;
    padding: 0;
}


.header-links a {
    font-size: 18px;
    display: flex; /* Center content */
    justify-content: center;
    align-items: center;
    width: 135px;
    text-align: center;
    text-decoration: none;
    background-color: #1B1F38; /* Default dark blue */
    color: #fff; /* Default text color */
    border-radius: 8px; /* Slight rounded corners */
    cursor: pointer;
}


.header-links a:hover{
    background-color: #2D3555; /* Lighter blue */
    color: #FFD600; /* Bright yellow */
    transform: scale(1.1); /* Slight zoom-in */
    border-radius: 50px; /* More rounded on hover */
    box-shadow: 0 0 15px rgba(255, 214, 0, 0.6); /* Soft glow effect */
    transition: all 0.3s ease-in-out;
}
/* Header and nav part */

/* slider section is not working */
.services-slider {
    margin-top: .01rem;
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.slider {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease-in-out;
}
 
.slide {
    width: 100%;
    flex-shrink: 1;
    position: relative;
}
   
.slide img {
    width: 100%;
    height: 550px;
    object-fit: cover;
}
    
.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 20px;
}
 
.controls {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 14px;
}
   
.prev, .next {
    cursor: pointer;
    font-size: 30px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 25px;
}
/*  */  