/* Constants */
:root {
    --primary-color: #2C3E50; /* Headers, buttons, key elements */
    --secondary-color: #E67E22; /* Accents, CTAs, icons */
    --light-gray: #ECF0F1; /*Backgrounds, sections */
    --dark-gray: #2C3E50; /* Text, headings */
    --accent-color: #1ABC9C; /* Positive messages, eco-friendly */
    --btn-hover-color: rgba(255, 255, 255, 0.2); /* Button hover color */
  }

/* Home page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  
body{
    font-family: "poppins", Times, serif;
    background-color: var(--light-gray);
    color: var(--dark-gray);    
}
