/* Nadaaaaaa */
/* Register page styles */

/* The whole section */
.register-section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    color: #fff
}

/* The second section (Container) */
.register-container{
    width: 120vh;
    height: 100vh;
    box-shadow: 0 0 10px rgb(230, 126, 34);
    background-image: url('/Web_Project/Images/Interior-cleaning.jpg');
    background-color: rgba(0, 0, 0,.6);
    background-blend-mode: overlay; 
    background-position: center;
    background-repeat: no-repeat;
}

/* The third section (Form) */
.register-form{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* heading (Register) */
.register-form h1{
    width: 90%;
    margin-bottom: 60px;
    display: flex;
    justify-content:center;
    text-align: center;
    font-size: 32px;
    color: #fff;
}
/* Fourth container (input and links and button) */
.input{
    width: 70%;
    height: 50%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
}

/* Fifth container for each 2 inputs  */
.input-group{
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

/* space between each 2 input (first last name, etc...) */
.space{
    width: 100%;
    height: 100%;
    display: flex;
    margin-right: 20px;
    align-items: center;
}


/* Each input styling */
.input-group input{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: solid 1px #fff;
    text-align: center;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

/* Placeholder styling */
input::placeholder {
    color: #fff;
    opacity: 1;
}
input:focus::placeholder,
input:active::placeholder{
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

/* container which contain the Button */
.register-button{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Button styling */
.register-button .button{
    width: 70%;
    height: 40px;
    background-color: transparent;
    color: #fff;
    border: solid 1px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

/* Making the input and button responsive when ( active, hover, focus) */
.input-group input:active,
.input-group input:focus,
.input-group input:hover,
.button:hover,
.button:active,
.button:focus{
    outline: none;
    border-color: var(--secondary-color);
    box-shadow: var(--secondary-color);
    color: var(--secondary-color);
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 10px rgba(230, 126, 34, 0.7);
}

/* The links style (Log in) */
.register-link{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    margin-bottom: 15px;
}
/* Styling of link */
.register-section a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
/* Styling when hover */
.register-section a:hover{
    outline: none;
    color: var(--secondary-color);
    transition: all 0.4s ease-in-out;
   text-decoration: underline;
}
/* End of register.css */
/* End of register.css */

.message-error {
    color: red;
    font-size: 14px;
    display: none;
    margin-top: 5px;
}