/* Nadaaaaaa */
/* Log in page styles */
.register-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    color: #fff
}

.register-container{
    width: 120vh;
    height: 100vh;
    box-shadow: 0 0 10px rgb(230, 126, 34);
    background-image: url('/Web_Project/Images/Interior-cleaning.jpg');
    background-color: rgba(0, 0, 0,.6);
    background-blend-mode: overlay; 
    background-position: center;
    background-repeat: no-repeat;
}

.register-form{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form h1{
    width: 90%;
    margin-bottom: 60px;
    display: flex;
    justify-content:center;
    text-align: center;
    font-size: 32px;
    color: #fff;
}

.input{
    width: 70%;
    height: 50%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
}

.input-group{
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}


.space{
    width: 100%;
    height: 100%;
    display: flex;
    margin-right: 20px;
    align-items: center;
}



.input-group input{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: solid 1px #fff;
    text-align: center;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

input::placeholder {
    color: #fff;
    opacity: 1;
}
input:focus::placeholder,
input:active::placeholder{
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}






.register-link{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    margin-bottom: 15px;
}

.register-button{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.register-button .button{
    width: 70%;
    height: 40px;
    background-color: transparent;
    color: #fff;
    border: solid 1px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.input-group i{
    font-size: 20px;
}

.input-group input:active,
.input-group input:focus,
.input-group input:hover,
.button:hover,
.button:active,
.button:focus{
    outline: none;
    border-color: var(--secondary-color);
    box-shadow: var(--secondary-color);
    color: var(--secondary-color);
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 10px rgba(230, 126, 34, 0.7);
}

.register-section a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.register-section a:hover{
    outline: none;
    color: var(--secondary-color);
    transition: all 0.4s ease-in-out;
   text-decoration: underline;
}

.remember-forgot input[type="checkbox"] {
    accent-color: var(--secondary-color);
    width: 16px;
    height: 16px;
    cursor: pointer;
}
